body {
  background: #735DA5;
  color: #fff;
  padding: 25px;
  font-family: sans-serif;
}

h1 {
  font-family: 'oriental cats', 'arial black';
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  border: 5px solid #000;
  color: #000;
  background-color: #D3C5E5;
}

h2 {
  font-family: 'oriental cats', 'arial black';
  text-align: center;
  font-weight: 700;
  font-size: 80px;
  border: 5px solid #000;
  color: #000;
  background-color: #D3C5E5;
}

p {
  font-family: 'cat paws', 'arial black';
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

li {
  font-family: 'Cute Meow', 'arial black';
  font-size: 38px;
  text-align: left;
  color: #000;
  background-color: #D3C5E5;
  border: 5px solid #000;
  margin: 20px;
  padding: 40px;
}

img {
  border: 5px solid #735DA5;
}

img[alt] {
  font-family: 'arial black';
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
}

form {
  font-family: 'Times New Roman', 'arial black';
  font-size: 40px;
  border: 5px solid #000;
  text-align: center;
  background-color: #D3C5E5;
}
